<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Duy Translator</title>
  </head>
  <body style="font-family: Arial; text-align: center; margin-top: 50px">
    <h2>English → Vietnamese Translator</h2>
    <form method="POST">
      <textarea
        name="text"
        rows="5"
        cols="50"
        placeholder="Enter English text here"
      ></textarea
      ><br /><br />
      <button type="submit">Translate</button>
    </form>
    {% if translated_text %}
    <h3>Translated:</h3>
    <p style="color: green; font-size: 18px">{{ translated_text }}</p>
    {% endif %}
  </body>
</html>
